@font-face {
  font-family: "Nexa";
  font-weight: lighter;
  src: url("./fonts/Nexa\ Light.otf") format("opentype");
}

@font-face {
  font-family: "Nexa Bold";
  font-weight: bold;
  src: url("./fonts/Nexa\ Regular.otf") format("opentype");
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

#container{
  position: relative;
  
}

#i-container-menu-simulation{
    margin: 0 0 1.5rem  ;
    display: flex;
    height: 100%;

    position: absolute;
    flex-direction: column;
   /*/ background-color: #C4C4C4;/*/
    text-align: center;
    z-index: 2;
}


#i-container-menu-simulation-opcions{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;


    
}

#i-container-conf-simulation{
    margin: 0 0 1.5rem  ;
    display: flex;
    height: 99%;
    position: absolute;
    flex-direction: column-reverse;
    right: 0;
    
  
    text-align: center;
    z-index: 3;
}

#i-container-conf-simulation img{
    padding: 0 1rem 1rem 0;
}


a{
    padding-bottom: 1rem;
}

/*PANTALLA DE CARGA*/

#screen-complete{
  background-color: #5298CA;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;

}


#screen-complete.fade-out {
  opacity: 0;
}

#loading-screen{
 
    display: flex;
    position: absolute;
  
    top: 40%;
     left: 48%;
    

}

#loading-screen.fade-out {
  opacity: 0;
}


#loader{
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 255, 255) transparent transparent transparent;

 

}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*****  TOOLLTIP    ***/

.tooltip {
    
  position: relative;
  display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #0F2234;
    color: #8DD5EE;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 6rem;
  }
  
  .tooltip:hover .tooltiptext{
    visibility: visible;
  }

   /*****  TOOLLTIP IZQ    ***/

   #i-btnInstru{
    border: none;
    background-color: transparent !important;
}

#i-btnCont{
    border: none;
    background-color: transparent !important;
}


.tooltipizq {
  position: relative;
  display: inline-block;
 
}

.tooltipizq .tooltiptextizq {
font-family: 'Nexa';
font-size: 1rem;
visibility: hidden;
width: 120px;
background-color: #0F2234;
color: #8DD5EE;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
top: 1rem;
right: 7rem;
}

.tooltipizq:hover .tooltiptextizq{
visibility: visible;
}

  /*INSTRUCCIONES*/

  
/*Instrucciones */

#i-instrucciones{
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
   top: 20%;
   left: 28%;
   right: auto;
   bottom: auto;

  
    
}

 /*Contexto */
 #i-contexto{
   display: flex;
   position: absolute;
   z-index: 1;
   width: 100%;
   height: auto;
  top: 20%;
  left: 28%;
  right: auto;
  bottom: auto;

 
   
}

.btnderinferior{
   border: none;
   background-color: transparent !important;
}

#container-info{
 
  background-color: #0F2234;
  padding: 1rem;
  color: white;
  position: absolute;
  width: 70%;
  z-index: 1;
  top: 10%;
  left: 15%;
  right: 20%;
  bottom: 20%;
  border-radius: 0.8rem;


}

#i-eleminfo{
  display: flex;
  flex-direction: row;
  padding: 3rem;
 

}

#i-eleminfodos{
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: 'Nexa';
  width: 50%;
}

#imgS{
  margin-left: 36rem;
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
}
#imgS:hover{

  width: 53px;
  height: 53px;
}

#imgSeñal{
  width: 50%;
 
  margin: 0 1rem 0 0;
  
}

#info-titulo{
  font-family: 'Nexa Bold';
  font-size: 2rem;
  margin-bottom: 1rem;

}

#info-texto{
  text-align: justify;
  font-size: 1.5rem;
  overflow-y: auto;
}

/*   Btn salir de interfaces */

#ig-btnsalirtext{
  display: flex;
  position: absolute;
  top: 7%;
  left: 42%;
}

#ig-btnsalirtext:hover{

  height: 5%;
}

#ig-btnsalirtext-dos{
  display: flex;
  position: absolute;
  top: 7%;
  left: 42%;
}

#ig-btnsalirtext-dos:hover{

  height: 5%;
}


/**********************************************         RESPONSIVE          *********************** */
/**/

@media only screen and (min-width: 1600px) and (max-width: 1920px) {

  #container-info{
 
    background-color: #0F2234;
    color: white;
    position: absolute;
    width: 70%;
    z-index: 1;
    top: 10%;
    left: 15%;
    right: 20%;
    bottom: 20%;
    border-radius: 0.8rem;
  
  
  }
  
  #i-eleminfo{
    display: flex;
    flex-direction: row;
    padding: 3rem;
   
  
  }
  
  #i-eleminfodos{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Nexa';
    width: 40%;
  }
  
  #imgS{
    margin-left: 25rem;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
  }
  #imgS:hover{
  
    width: 53px;
    height: 53px;
  }
  
  #imgSeñal{
    width: 50%;
    height: 450px;
    margin: 0 1rem 0 0;
    
  }
  
  #info-titulo{
    font-family: 'Nexa Bold';
    font-size: 2rem;
    margin-bottom: 1rem;
  
  }
  
  #info-texto{
    text-align: justify;
    font-size: 1.4rem;
    overflow-y: auto;
    height: 300px;
  }


}
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
  #container-info{
 
    background-color: #0F2234;
    color: white;
    position: absolute;
    width: 70%;
    z-index: 1;
    top: 10%;
    left: 15%;
    right: 20%;
    bottom: 20%;
    border-radius: 0.8rem;
  
  
  }
  
  #i-eleminfo{
    display: flex;
    flex-direction: row;
    padding: 3rem;
   
  
  }
  
  #i-eleminfodos{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Nexa';
    width: 30%;
  }
  
  #imgS{
    margin-left: 15rem;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
  }
  #imgS:hover{
  
    width: 53px;
    height: 53px;
  }
  
  #imgSeñal{
    width: 50%;
    height: 350px;
    margin: 0 1rem 0 0;
    
  }
  
  #info-titulo{
    font-family: 'Nexa Bold';
    font-size: 1.4rem;
    margin-bottom: 1rem;
  
  }
  
  #info-texto{
    text-align: justify;
    font-size: 1.2rem;
 padding: 0 2rem 0 0;
    height: 270px;
  
  }
  #ig-btnsalirtext{
 
    left: 42%;
}

#ig-btnsalirtext-dos{

    left: 42%;
}
   
}

@media only screen and (min-width:1024px) and (max-width: 1280px) {
  #container-info{
 
    background-color: #0F2234;
    color: white;
    position: absolute;
    width: 75%;
    z-index: 1;
    top: 10%;
    left: 12%;
    right: 20%;
    bottom: 20%;
    border-radius: 0.8rem;
  
  
  }
  
  #i-eleminfo{
    display: flex;
    flex-direction: column;
    padding: 3rem;
   
  
  }
  
  #i-eleminfodos{
   
    width: 100%;
  }
  
  #imgS{
    margin-left: 0;
    margin-top: 1rem;
    width: 40px;
    height: 40px;
  }
  #imgS:hover{
  
    width: 43px;
    height: 43px;
  }
  
  #imgSeñal{
    width: 500px;
    height: 220px;
    margin: 0 auto;
    
  }
  
  #info-titulo{
    font-family: 'Nexa Bold';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  
  }
  
  #info-texto{
    text-align: justify;
    font-size: 1.1rem;
    height: 120px;
   

  }

    /*Contexto*/

#i-contexto{
    
  top: 10%;
  left: 10%;
  right: auto;
  bottom: auto;

 
   
}

#ig-img-context{
   width: 80%;
   height: 500px;
}

#ig-btnsalirtext{

   left: 72%;
}




/*Instrucciones */

#i-instrucciones{

  top: 20%;
  left: 12%;
  right: auto;
  bottom: auto;

}

#ig-img-intru{
  width: 85%;
  height: 500px;
}

#ig-btnsalirtext-dos{

  left: 72%;
}
 
    
}



@media only screen and (min-width:768px) and (max-width: 1024px) {
  #container-info{
 
    background-color: #0F2234;
    color: white;
    position: absolute;
    width: 75%;
    z-index: 1;
    top: 10%;
    left: 16%;
    right: 20%;
    bottom: 20%;
    border-radius: 0.8rem;
  
  
  }
  
  #i-eleminfo{
    display: flex;
    flex-direction: column;
    padding: 3rem;
   
  
  }
  
  #i-eleminfodos{
   
    width: 100%;
  }
  
  #imgS{
    margin-left: 0;
    margin-top: 1rem;
    width: 40px;
    height: 40px;
  }
  #imgS:hover{
  
    width: 43px;
    height: 43px;
  }
  
  #imgSeñal{
    width: 70%;
    height: 220px;
    margin: 0 auto;
    
  }
  
  #info-titulo{
    font-family: 'Nexa Bold';
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  
  }
  
  #info-texto{
    text-align: justify;
    font-size: 1.1rem;
    height: 130px;
   

  }

    /*Contexto*/

#i-contexto{
 left: 10%;
 

 
   
}

#ig-img-context{
   width: 80%;
   height: 400px;
}

#ig-btnsalirtext{

   left: 72%;
}




/*Instrucciones */

#i-instrucciones{

  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;

}

#ig-img-intru{
  width: 78%;
  height: 350px;
}

#ig-btnsalirtext-dos{

  left: 72%;
}
 
    
}

/*Menos de 19 pulgadas*/

@media only screen and (min-width: 360px) and (max-width: 768px) {

  #i-container-conf-simulation{
    height: 80%;
  }

  #container-info{
 
    background-color: #0F2234;
    color: white;
    position: absolute;
 
    width: 70%;
    z-index: 1;
    top: 10%;
    left: 14%;
    right: 20%;
    bottom: 20%;
    border-radius: 0.8rem;
  
  
  }
  
  #i-eleminfo{
    display: flex;
    flex-direction: column;
    padding: 3rem;
   
  
  }
  
  #i-eleminfodos{
   
    width: 100%;
  }
  
  #imgS{
    margin-left: 0;
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
  }
  #imgS:hover{
  
    width: 43px;
    height: 43px;
  }
  
  #imgSeñal{
    width: 70%;
    height: 250px;
    margin: 0 1rem 0 0;
    
  }
  
  #info-titulo{
    font-family: 'Nexa Bold';
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  
  }
  
  #info-texto{
    text-align: justify;
    font-size: 1rem;
    overflow-y: scroll;  
     height: 100px;
  }

  /*Contexto*/

#i-contexto{
    
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

 
   
}

#ig-img-context{
   width: 95%;
   height: 250px;
}

#ig-btnsalirtext{
   width: 3%;
   left: 72%;
}



/*Instrucciones */

#i-instrucciones{

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

}

#ig-img-intru{
   width: 95%;
   height: 250px;
}

#ig-btnsalirtext-dos{
   width: 3%;
   left: 72%;
}
    

   
}
